// Colors variables
$color-primary: #fff;
$color-secondary: #ee7033;

// Breakpoints variables
$mobile: 600px;
$tablet: 992px;

$header-height: 80px;



* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
