<app-transactions-box>
  <app-transactions-box-header
    [iconName]="'briefcase.svg'"
  >
    Recent transactions
  </app-transactions-box-header>

  <app-transactions-list-filters
    [filters]="filters"
  >
  </app-transactions-list-filters>

  <ul class="transaction-list">
    <li
      class="transaction-list__item"
      *ngFor="let transaction of transactions">
      <app-transactions-list-item [transaction]="transaction"></app-transactions-list-item>
    </li>
  </ul>
</app-transactions-box>
