@import 'styles';

.transactions {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
  }
}

.transactions__new {
  width: 29%;

  @media only screen and (max-width: $tablet) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.transactions__list {
  width: 69%;

  @media only screen and (max-width: $tablet) {
    width: 100%;
  }
}
